---
import { Seo } from "astro-seo-meta";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lume - the Nostr client for Big Screen</title>
		<Seo
			title="Lume"
			description="Lume is the Nostr client which support multi columns and multi accounts, tailored for desktop with big screen. Lume is supporting Windows and macOS under GPLv3 license."
			keywords={[
				"nostr",
				"nostr client",
				"social network",
				"desktop app",
				"timeline",
				"application",
				"columns",
				"tweetdeck",
			]}
			themeColor="#fafafa"
			colorScheme="light"
			facebook={{
				image: "/og-image.jpg",
				url: "https://lume.nu",
				type: "website",
			}}
			twitter={{
				image: "/og-image.jpg",
				card: "summary",
			}}
		/>
	</head>
	<body
		class="w-full h-full antialiased bg-[#abafb4] text-neutral-950 dark:text-neutral-50"
	>
		<div class="px-2 py-10 sm:px-0 container mx-auto">
			<div class="w-full md:w-2/3 mx-auto flex flex-col gap-6">
				<div class="inline-flex items-center gap-2">
					<img src="/logo.png" class="size-10" alt="Logo" />
					<h1 class="font-black text-4xl text-white uppercase">Lume</h1>
				</div>
				<div>
					<p class="text-2xl text-white">
						Lume is the Nostr client which support <span
							class="font-black italic">Multi Columns</span
						> and<br /><span class="font-black italic">Multi Accounts</span>,
						tailored for desktop with <span class="font-black italic"
							>Big Screen</span
						>.<br />Lume is supporting Windows and macOS under GPLv3 license.
					</p>
				</div>
				<div>
					<a
						href=""
						class="rounded-full bg-[#008fff] hover:bg-blue-600 w-64 h-12 flex items-center justify-center text-white text-lg font-semibold"
						>Download Lume v24.11.0</a
					>
				</div>
			</div>
		</div>
		<div class="px-1 sm:px-0">
			<img src="/app.png" class="w-full h-auto" alt="App" />
		</div>
	</body>
</html>
